<footer class="bg-primary text-white text-center py-3 mt-auto">
  <div class="container">
    <p class="mb-0">&copy; 2025 Sofia Tresse. Todos os direitos reservados.</p>
  </div>

  
             <div class="redes">
                <h3> <p><strong>Contato:</strong> </p></h3>
                <ul>
                    <li><a href="https://github.com/SofiaTressePires" target="_blank">
                        <img src="./images/icons8-github-50.png" alt="GitHub">
                    </a></li>
                    <li><a href="https://www.instagram.com/seu-perfil" target="_blank">
                        <img src="./images/icons8-instagram-50.png" alt="Instagram">
                    </a></li>
                    <li><a href="https://twitter.com/seu-perfil" target="_blank">
                        <img src="./images/icons8-twitter-50.png" alt="Twitter">
                    </a></li>
                </ul>

                <section class="Butao">


                    <a href="./html/portifolio.html" class="cta-button">Meus Projetos</a>
                    <a href="./html/about.html" class="cta-button">Saiba Mais</a>
        

                </section>
                </div>
</footer>
