* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;

    background: radial-gradient(circle, #ffffff, #972dee8e); /* Gradiente de fundo */
    padding-bottom: 60px; /* Espaçamento inferior para o conteúdo não ficar escondido pelo rodapé */
  }
  
  header {
    background: hsla(0, 0%, 100%, 0); /* Fundo transparente */
    color: #ffffff00; /* Texto transparente */
    padding: 10px 0;
  }
  
  .container-menu {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .logo {
    float: left;
    width: 250px;
    height: 200px; /* Ajuste a altura conforme necessário */
    background-image: url('../images/logo1.png'); /* Imagem padrão */
    background-size: cover; /* Ajusta o tamanho da imagem */
    background-position: center; /* Centraliza a imagem */
    transition: background-image 0.3s ease-in-out; /* Transição suave para a mudança de imagem */
  }
  
  .logo:hover {
    background-size: cover; /* Ajusta o tamanho da imagem */
    background-position: center; /* Centraliza a imagem */
    width: 250px;
    height: 200px; /* Ajuste a altura conforme necessário */
    background-image: url('../images/logo2.png'); /* Imagem ao passar o mouse */
  }
  
  nav {
    float: right;
    margin-top: 10px;
    transition: transform 0.3s ease-in-out; /* Muda de posição quando passar o mouse por cima */
  }
  
  nav ul {
    list-style: none;
    font-size: 25px;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 15px 30px; /* Ajustado para um espaçamento mais apropriado */
    display: inline-block;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Transição suave para cor de fundo e cor do texto */
    border-radius: 5px; /* Adiciona bordas arredondadas para um efeito mais moderno */
  }
  
  nav ul li a:hover {
    background-color: #8541c5; /* Cor de fundo ao passar o mouse */
    color: #ffffff; /* Cor do texto ao passar o mouse */
  }
  
  .quadro {
    background: url("../images/kawaii2.png") no-repeat center center/cover;
    color: #1f013b;
    text-align: center;
    padding: 140px 0;
    border: 20px #ffffff;
  }
  
  .quadrocontent {
    max-width: 600px;
    margin: auto;
    margin-bottom: 100px;
  }
  
  .cta-button {
    display: inline-block;
    background: #ffffff;
    color: #000000;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .cta-button:hover {
    background: #ae72f3;
  }
  
  .features {
    padding: 20px 0;
  }
  
  .feature {
    background: #fff;
    border-radius: 30px;
    box-shadow: 0 15px 30px rgba(89, 0, 255, 0.2);
    text-align: center;
    padding: 50px;
    margin-bottom: 20px;
    margin-left: 150px;
    margin-right: 150px;
  }
  
  .feature img {
    width: 35%;
    border-radius: 30px;
  }
  
  .redes {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff; /* Cor do quadrado branco */
    padding: 20px;
    border-radius: 10px; /* Bordas arredondadas do quadrado */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar um efeito de profundidade */
    margin: 0 auto; /* Centraliza horizontalmente */
    width: fit-content; /* Ajusta a largura do quadrado ao conteúdo */
  }
  
  .redes ul {
    list-style: none;
    display: flex;
    gap: 10px; /* Espaço entre as imagens */
    padding: 0;
    margin: 0;
  }
  
  .redes ul li {
    margin: 0;
  }
  
  .redes ul li a img {
    width: 50px; /* Ajuste o tamanho das imagens se necessário */
    height: auto;
    display: block;
  }
  
  footer {
    position: fixed; /* Fixa o rodapé na parte inferior */
    bottom: 0; /* Alinha o rodapé ao fundo da página */
    left: 0; /* Alinha o rodapé ao lado esquerdo da página */
    width: 100%; /* Garante que o rodapé ocupe toda a largura da página */
    color: #fff;
    text-align: center;
    padding: 10px 0;
    background: radial-gradient(
      circle,
      #aa69f5,
      #ffffff4d
    ); /* Gradiente radial em forma de círculo */
  }
  